.infor{
    margin-top: 50px;

    &__left-side{
        display: flex;
        // justify-content: space-between;

        &__img{
            position: relative;
            margin-left: -150px;
        }

        &__text{
            max-width: 557px;
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: #949494;
            align-items: center;
            margin-top: 127px;
            margin-left: 100px;

        }

    }

    &__right-side{
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;

        &__img{
            position: relative;
            // margin-left: -150px;
            margin-right: -150px;
        }

        &__text{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #949494;
            margin-top: 120px;
            max-width: 494px;
            margin-right: 100px;
        }
    }
}
.color-yellow{
    color: #FFBD54;
}
.color-blue{
    color: rgb(100, 189, 230);
    // color: #78C0DE;
}