.trim{
    display: flex;
    margin-bottom: 145px;

    &__left-side{
        max-width: 416px;

        &__heading{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 48px;
            color: #333333;
            margin-bottom: 24px;
            margin-top: 80px;
        }

        &__text{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #949494;
        }

        &__text2{
            font-size: 24px;
        }
    }
}
.trim__right-side{
    display: flex;
    position: relative;
    margin-left: 30px;
    max-width: 961px;
    justify-content: space-between;

    &__img1{
        margin-right: 20px;
    }
    &__img2{
        margin-right: 20px;
    }

}
.trim-arrows{
    display: flex;
    margin-top: 98px;
    
}
.trim-left{
    align-self: center;
    margin-right: 64px;
    
    &:hover{
        background-color: #ffffff;
        background-size: 50px 50px;
    }
    &:active{
        opacity: 0.7;
    }
}