.trim{
    display: flex;

    &__left-side{
        max-width: 416px;

        &__heading{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 48px;
            color: #333333;
            margin-bottom: 24px;
        }

        &__text{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #949494;
        }

        &__text2{
            font-size: 24px;
        }
    }
}
.trim__right-side{
    display: flex;
}
.trim-arrows{
    display: flex;
    margin-top: 98px;
    
}
.trim-left{
    align-self: center;
    margin-right: 64px;
}