.container-oclinic{
    max-width: 1445px;
    margin: 0 auto;
    padding: 0 10px;
    align-self: center;
}
.oclinic-footer{
    background-color: #F3F3F3;
    display: flex;

    &__logo{
        margin-right: 67px;
    }

    &__types{
        display: flex;
        flex-direction: column;
        margin-right: 87px;

        &1{
            margin: 0;
            padding: 0;
            text-decoration: none;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            margin-bottom: 14px;

        }

    }

    &__types2{
        display: flex;
        flex-direction: column;
        margin-right: 157px;

    }

    &__time{
        display: flex;
        flex-direction: column;

        &__text1{
            margin: 0;
            padding: 0;
            font-family: "Futura PT", "Arial", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            margin-bottom: 3px;
        }
    }
}



.active-footer{
    display: flex;
    margin-top: 62px;
}