.container-oclinic{
    max-width: 1445px;
    margin: 0 auto;
    padding: 0 10px;
    align-self: center;
}
.oclinic-footer{
    background-color: #F3F3F3;
    display: flex;
}
.active-footer{
    display: flex;
}